@tailwind base;
@tailwind components;
@tailwind utilities;

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer {
    padding: 40px 0;
    color: white;
    background: black;
}

footer li {
    float: left;
    padding: 0 10px;
    list-style: none;
}

footer a {
    color: white;
}

footer p {
    float: right;
}